<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Cable's blog</h1>
    <h3>Posts</h3>
    {{#each posts}}
    <div>
        <h2>{{title}}</h2>
        <p>{{body}}</p>
        Comments:
        <ul>
            {{#each comments}}
            <li>{{text}}</li>
            {{/each}}
        </ul>
        {{#if author}}
        <h4>{{author}}</h4>
        {{else}}
        <h4>Unknown Author</h4>
        {{/if}}
    </div>
    {{/each}}
</body>
</html>